<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
  </head>
  <body>
  <div th:fragment="headerFragment">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>

    </script>
    <div class="header">
      <div class="headerWrapper">
        <div class="navBox1">
          <a href="#" class="logo">LOOK KIT</a>
          <ul class="navMenu">
            <li><a href="#" class="menu">HOME</a></li>
            <li><a href="#" class="menu">APPEAREL</a></li>
            <li><a href="#" class="menu">SHOES</a></li>
            <li><a href="#" class="menu">ACC</a></li>
          </ul>
        </div>
        <div class="navBox2">
          <div class="searchBox">
            <input id="searchInputEl" class="searchInput" />
            <span class="searchBtn"> <img th:src="@{/images/icon/searchIcon.svg}" /> </span>
          </div>

          <div class="navIcon">
              <!-- 비로그인시 로그인버튼 노출-->
            <div id="LoginBtn" class="iconBtn" sec:authorize="isAnonymous()">
              <a th:href="@{/auth/login}" class="simptip-position-top simptip-success" data-tooltip="Login">
              <img th:src="@{/images/icon/LoginIcon.svg}" width="30" height="30" />
              </a>
            </div>
              <!-- 로그인시 로그아웃버튼 노출-->
            <div id="LogoutBtn" class="iconBtn" sec:authorize="isAuthenticated()">
              <a th:href="@{/logout}" class="simptip-position-top " data-tooltip="Logout">
                <img th:src="@{/images/icon/logoutIcon.svg}" width="30" height="30" />
              </a>
            </div>
            <div class="iconBtn">
              <a th:href="@{/mypage/wishlist}" class="simptip-position-top " data-tooltip="My Page">
                <img th:src="@{/images/icon/profileIcon.svg}" width="35" height="35" />
              </a>
            </div>
              <a th:href="@{/}" class="simptip-position-top" data-tooltip="Cart">
                  <img th:src="@{/images/icon/cartIcon.svg}" width="30" height="30" />
<!--          경진님아이콘   <img th:src="@{/images/icon/CartIcon.svg}" width="35" height="35" />-->
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
