<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
  </head>
  <body>
  <div th:fragment="headerFragment">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".searchBtn").click(()=>{
         let keyword = $(".searchInput").val();
          location.href=`/main/search?keyword=${keyword}`;
        })
      });
    </script>
    <div class="header">
      <div class="headerWrapper">
        <div class="navBox1">
          <a th:href="@{/main}" class="logo">LOOK KIT</a>
          <ul class="navMenu">
            <li><a th:href="@{/main/category?type=outer}" class="menu">OUTER</a></li>
            <li><a th:href="@{/main/category?type=top}" class="menu">TOP</a></li>
            <li><a th:href="@{/main/category?type=bottom}" class="menu">BOTTOM</a></li>
            <li><a th:href="@{/main/category?type=bag}" class="menu">BAG</a></li>
            <li><a th:href="@{/main/category?type=shoes}" class="menu">SHOES</a></li>
            <li><a th:href="@{/main/category?type=etc}" class="menu">ETC</a></li>
          </ul>
        </div>
        <div class="navBox2">
          <div class="searchBox">
            <input id="searchInputEl" class="searchInput" />
            <span class="searchBtn"> <img src="/images/icon/search.png" /> </span>
          </div>

          <div class="navIcon">

            <!-- 비로그인시 로그인버튼 노출-->
             <div id="LoginBtn" class="iconBtn" sec:authorize="isAnonymous()">
              <a th:href="@{/auth/login}" class="btn-a">
                <img th:src="@{/images/icon/login.png}" class="simptip-position-top simptip-success" data-tooltip="Login" width="26px"/>
                <p class="btn-text">LOG IN</p>
              </a>
            </div>
            <!-- 로그인시 로그아웃버튼 노출-->
            <div id="LogoutBtn" class="iconBtn" sec:authorize="isAuthenticated()">
              <a th:href="@{/logout}" class="btn-a">
                <img src="/images/icon/logout.png" class="simptip-position-top " data-tooltip="Logout" width="26px"/>
                <p class="btn-text">LOG OUT</p>
              </a>
            </div>
            <div class="iconBtn">
              <a th:href="@{/mypage/manage}" class="btn-a">
                <img src="/images/icon/user.png" class="simptip-position-top " data-tooltip="My Page" width="26px"/>
                <p class="btn-text">MY PAGE</p>
              </a>
            </div>
            <div class="iconBtn">
              <a th:href="@{/cart}" class="btn-a">
                <img src="/images/icon/cart.png" class="simptip-position-top" data-tooltip="Cart"/>
                <p class="btn-text">CART</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
