<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sidebar</title>
  </head>
  <body>
  <div th:fragment="sidebarFragment">
    <aside class="sidebar">
      <div>
        <p class="mypage-block">MY PAGE</p>
      </div>
      <div>
        <ul>
          <li><a href="/mypage/manage">주문 관리</a></li>
          <li>
            <a href="/mypage/inquiry/list">1:1 문의하기</a>
          </li>
          <li>
            <a href="#">리뷰 관리</a>
            <ul>
              <li><a href="#">작성 가능한 리뷰</a></li>
              <li><a href="#">작성한 리뷰</a></li>
            </ul>
          </li>
          <li><a href="/mypage/wishlist">찜한 상품</a></li>
        </ul>


      </div>
    </aside>
  </div>

  </body>
</html>
