<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sidebar</title>
  </head>
  <body>
  <div th:fragment="userHeaderFragment" class="welcome-header">
    <span class="welcome-message" th:text="${username != null ? username : 'USER'} + '님 환영합니다'"></span>
    <div class="profile-options">
      <img class="icon-settings" src="/images/icon/setting.png"  alt=""/>
      <span>개인정보 변경</span>
    </div>
  </div>

  </body>
</html>
