<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
  <link rel="stylesheet" th:href="@{/css/wishlist.css}"/>

</head>
<body>
<th:block th:replace="~{common/fragments/header :: headerFragment}"></th:block>

<div class="product-container">
  <th:block th:replace="~{common/fragments/userHeader :: userHeaderFragment}"></th:block>

  <div class="side-and-main">
    <!-- 사이드바 추가 -->
    <th:block th:replace="~{common/fragments/sidebar :: sidebarFragment}"></th:block>
    <div class="second-grid">
      <h2>정상페이지?(<span th:text="${#lists.size(wishlist)}">위시리스트 total</span>)</h2>
      <div class="product-grid">
        <!-- Product Item 반복 출력 -->
        <div class="product-item" th:each="wish : ${wishlist}">
          <img class="product-image" th:src="@{|/images/products/0${wish.productId}/${wish.productThumbnail}|}"/>
          <h3 class="product-brand" th:text="${wish.brandName}">브랜드 이름</h3>
          <p class="product-name" th:text="${wish.productName}">상품 이름</p>
          <p class="product-price">
            <span class="price-detail" th:text="${#numbers.formatInteger(wish.productPrice, 0, 'COMMA')}">가격</span> 원
          </p>
          <div class="product-likes">
            <img class="like-icon" th:src="@{/images/wishlist/wish.png}" alt="Like Icon">
            <span th:text="${wish.likeCount}">좋아요 개수</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>