@charset "UTF-8";
.profile-container {
    display: grid;
    margin-top: 20px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom : 100px;
}

.second-grid {
    width: 100%;
    margin-left: 50px;
}

.welcome-header {
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #555353;
    color: #555353;
}

.welcome-message {
    font-size: 23px;
    color: #555;
}

.profile-options {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    gap: 3px;
}

.icon-settings {
    width: 25px;
    height: 25px;
}

.btn-change-info {
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.profile-management-content {
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    flex: 1;
    padding: 40px;
    background-color: #fff;
}

.section-title {
    font-size: 24px;
    margin-top: 65px;
    border-bottom: 2px solid #727272;
    padding-bottom: 10px;
}

.info-group1 {
    display: grid;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
}

.info-group2 {
    display: grid;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
}

.inline {
    display: flex;
    gap: 12px;
}

.info-group1 label, .info-group2 label{
    width: 150px;
    font-size: 16px;
    color: #333;
}

.info-group1 input, .info-group2 input, .address-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 4px;
    width: -webkit-fill-available;
}

.info-group1 button, .info-group2 button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    width: 150px;
}

.address-group button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    width: 200px;
}

.button-group {
    text-align: center;
}

.btn-save {
    background-color: #0d1134;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 25px;
    width: 125px;
}

.btn-cancel {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px;
    width: 125px;
}

.address-group input {
    display: block;
    margin-bottom: 10px;
}

.btn-postcode-search {
    background-color: #ddd;
    color: #333;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
}